.input-element{
    display: flex;
    flex-direction: column;
}

.input-label{
    margin: 1.5rem 0rem;
    font-size: 18px;
    font-weight: 500;
}
.input-tag{
    padding: 1rem;
     outline:none; 
}