main{
  padding: 5rem;
}
.App {
  background-color: black;
  box-sizing: border-box;
  min-height: 100vh;
}

.Save-segment-btn{
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: calc(5px + 2vmin);
  font-family: serif;
  padding: 15px;
  cursor: pointer;
}